.titles{
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-start;
align-items: end;
}
.vedio .titles{
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
align-items: end;
}
.fist-later{
    color: rgb(255, 0, 0);
    font-size: 2.5rem;
    position: relative;
    bottom: -5px;
}
.fist-later:hover{
    transform: scale(1.1);
}
.second-later{ 
    color: rgb(255, 0, 0);
    font-size: 2.5rem;
 position: relative;
 bottom: -5px;
}
.second-later:hover{
    transform: scale(1.1);
}
.conta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    
}
.conta .cards{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    width:300px;
    height: 460px;
}
.rateing .conta .cards{
    width:300px;
    height: 500px;   
}
.conta .cards img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 300px;
}
.conta .cards img:hover{
transform: scale(1.01);
}
.conta .cards .name{
    margin: 15px 15px;
    font-size: 1.5rem;
}
.rate{
    margin-left: 15px;
    margin-bottom: 15px;
}
.bts{
    margin-left: 15px;
    display: flex;
    gap: 20px;
}
button{
    padding: 0px 25px;
}
@media screen and (max-width:600px) {
    .conta .cards{
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 20px;
        width:250px;
        height: 430px;
    }
    .conta .cards img{
        height: 250px;
    }

    .rateing .conta .cards{
        width:250px;
        height: 450px;   
    }

}